.topContentBtn {
  width: 369px;
  height: 90px;
  border-radius: 45px;
  background-color: #ffca05;
  text-align: center;
  font-size: 28px;
  margin-right: 50px;

  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessionBtn {
  width: 207px;
  height: 68px;
  font-size: 18px;
  border-radius: 39px;
  background-color: #ffca05;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-device-width: 1500px) and (max-device-width: 1700px) {
  .topContentBtn {
    width: 309px;
    height: 70px;
    border-radius: 45px;
    background-color: #ffca05;
    text-align: center;
    font-size: 25px;
    margin-right: 50px;

    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
