.single-card {
  box-shadow: 0px 3px 31px 0px rgba(112, 112, 112, 0.75);
  -webkit-box-shadow: 0px 3px 31px 0px rgba(112, 112, 112, 0.75);
  -moz-box-shadow: 0px 3px 31px 0px rgba(112, 112, 112, 0.75);
  background-color: #ffffff;
  border-radius: 25px;
  position: relative;
  width: 287px;
  height: auto;
}
.single-card-decoration {
  position: absolute;
  left: 35px;
  top: -20px;
  width: 307px;
  height: 42px;
  background-color: #ffca05;
  border-radius: 21px;
}
.card-img {
  margin-bottom: 10px;
}
.card-date-wrapper {
  margin-bottom: 20px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-description-wrapper {
  margin-left: 30px;
}
.card-description-title {
  margin-bottom: 45px;
  font-size: 28px;
}
.card-description {
  margin-bottom: 35px;
  font-size: 18px;
}
.read-more {
  color: #ffca05;
  font-size: 20px;
  cursor: pointer;
}
