.first-teamCard {
    margin-bottom: 30px;
}
.top-heading-wrapper {
    margin-top: 270px;
    display: flex;
    justify-content: center;
    width: 56%;
}
.organizations {
    display: flex;
    margin-top: 70px;
    gap: 25px;
    justify-content: center;
}
.card-list---wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 65%;
    column-gap: 30px;
}