.card-wrapper {
  box-shadow: 0px 3px 31px 0px rgba(112, 112, 112, 0.75);
  -webkit-box-shadow: 0px 3px 31px 0px rgba(112, 112, 112, 0.75);
  -moz-box-shadow: 0px 3px 31px 0px rgba(112, 112, 112, 0.75);
  background-color: #ffffff;
  border-radius: 25px;
}
.wrapper {
}
.heading-wrapper {
  display: flex;
  margin-bottom: 75px;
}
.heading-img {
  margin-right: 30px;
}
.heading-title {
  font-size: 54px;
}
.card-list-wrapper {
  display: flex;
  gap: 30px;
  padding-bottom: 60px;
}
.card-list-styles {
  display: flex;
  gap: 30px;
}
