.specific-election-wrapper {
    width: 48%;
    border-radius: 54px;
}
.election-image {
    border-radius: 40px;
}
.election-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.election-details--heading {
    font-size: 22px;
    font-weight: bold;
    padding-top: 50px;
}
.election-details--text {
    font-size: 14px;
}
.election-details--btn {
    border-radius: 54px;
    background-color: #A5A5A5;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    font-size: 16px;
}
.election-details--btn:hover {
    background-color: #FFCA05;
}
.specific-election-footer {
    margin-top: 145px;
}