.container-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  margin-bottom: 105px;
  justify-content: center;
  background-color: #fafafa;
  width: 100%;
}
.content-wrapper {
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 60px;
  width: 100%;
}
.title-wrapper {
  display: flex;
  margin-bottom: 20px;
  margin-right: 45px;
}
.title-img {
  margin-right: 30px;
}
.title-heading {
  /* width: 392px; */
  height: 54px;
  font-size: 50px;
}
.title-headingAboutus {
  font-size: 45px;
}
.description {
  margin-bottom: 30px;
  font-size: 18px;
  /* width: 514px; */
  height: 144px;
}
.second-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 40px;

  justify-content: flex-end;
}
.second-content-wrapper {
  height: 797px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 45%;
  margin-right: 120px;
}
.second-content-card {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 40px;
}
.content-card {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 80px;
}
.content-cardAboutUs {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 80px;
}
.aboutUsImg {
  max-width: 1000px;
  max-height: 575px;
}
.contentContainer {
  /* width: 50%; */
  max-width: 988px;
  max-height: 797px;
}
.contentImg {
  max-width: 988px;
  max-height: 797px;
}
.title {
  max-width: 326px;
  height: 210px;
  font-size: 62px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}
.text {
  margin-bottom: 30px;
  font-size: 18px;
  width: 100%;
  height: auto;
}
.title-heading--black {
  height: 54px;
  font-size: 50px;
  color: #ffffff;
  width: 392px;
}
.description--black {
  margin-bottom: 30px;
  font-size: 18px;
  color: #ffffff;
}
.description {
  margin-bottom: 30px;
  font-size: 18px;
  /* width: 514px; */

  height: auto;
}
.wrapper--black {
  background-color: #221f1f;
  display: flex;
  margin-bottom: 105px;
  justify-content: center;
  width: 100%;
  border-radius: 50px;
}
.title-wrapperAboutUs {
  display: flex;
  margin-bottom: 20px;
  margin-right: 45px;
  width: 400px;
}
@media screen and (min-device-width: 1500px) and (max-device-width: 1700px) {
  .contentImg {
    max-width: 808px;
    max-height: 697px;
    top: -20px;
    /* STYLES HERE */
  }
  .content-card {
    display: flex;
    width: 63%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0px;
  }
  .content-cardAboutUs {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0px;
  }
  .second-content-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 45%;
    margin-right: 120px;
  }
  .title {
    max-width: 226px;
    height: 160px;
    font-size: 52px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
  }
  .text {
    margin-bottom: 30px;
    font-size: 15px;
    width: 100%;
    height: auto;
  }
  .title-headingAboutus {
    width: 150px;
    font-size: 30px;
    width: 250px;
    /* margin-top: 5px; */
  }
  .title-wrapperAboutUs {
    display: flex;
    margin-bottom: 20px;
    margin-right: 45px;
    align-items: center;
  }
  .title-heading--black {
    font-size: 30px;
    display: flex;
    align-items: center;
  }
  .title-wrapper {
    display: flex;
  }
  .second-content-card {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 100px;
  }
}
