.election-btns {
    width: 62%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 25px;
}
.election-signle-btn {
    width: 48%;
    height: 95px;
    border-radius: 54px;
    color: #221F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.10);
    background-color: #ffffff;
}
.election-signle-btn:hover {
    background-color: #FFCA05;
    color: #ffffff;
}
.election-signle-btn--yellow {
    width: 48%;
    height: 95px;
    border-radius: 54px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.10);
    background-color: #FFCA05;
}