.main--wrapper {
  width: 100%;
  height: 100vh;
}
.wrapper-styles {
  width: 100%;
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.title-wrapperFirst {
  margin-top: 250px;
  display: flex;
  padding: 25px;
}
.header-image--wrapper {
  width: 81.5%;
  height: 100%;
  /* display: flex; */
  justify-content: space-between;
}
.child-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-description--wrapper {
  margin-right: 40px;
}
.aboutUsImg {
  float: right;
  max-width: 1000px;
  max-height: 593px;
  margin-left: 10px;
}
.fontStyles {
  font-size: 18px;
  /* float: left; */
}
.content-description {
  width: 63%;
  height: 715px;
  margin: 0 auto;
  background: yellow;
  margin-bottom: 50px;
}
.grey-content-wrapper {
  width: 100%;
  background-color: #fafafa;
}
.content_wrapper {
  width: 63%;
  margin: 0 auto;
  padding-top: 90px;
}

@media screen and (min-device-width: 1600px) and (max-device-width: 1700px) {
  .header-image--wrapper {
    width: 84.5%;
    height: 100%;
    /* display: flex; */
    justify-content: space-between;
  }
}
