.specific-wrapper { 
    width: 100%;
}
.header-div {
    height: 235px;
}
.specific-content-wrapper {
    width: 63%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 875;
}
.memberImg {
    float: right;
    margin: 0 0 40px 60px;
}
.member-informations {
    padding-top: 75px;
    margin-bottom: 85px;
}
.information--title {
    font-size: 54px;
    font-weight: bold;
}
.information--description {
    margin-bottom: 25px;
    font-size: 20px;
}
.inofrmation--text {
    font-size: 18px;
}