.footer-wrapper {
    background-color: #221F1F;
    width: 100%;
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    height: 110px;
    align-items: center;
}
.footer-contacts {
    display: flex; 
    gap: 50px; 
    margin-right: 160px
}
.linkable {
    color: #ffffff; 
    font-size: 15px
}
.logo-wrapper {
    display: flex;
    align-items: center;
    margin-right: 150px;
    gap: 10px;
}
.logo-name {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px 
}
.socialss {
    display: flex;
    gap: 25px
}
.social-logos {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 30px;
}
.social-logos--fb {
    border: 2px solid #ffffff;
    padding: 10px 12px;
    border-radius: 30px;
}