header {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: flex-end;
  width: 100%;
}
.logo {
  margin-right: 60px;
}
.navigation-wrapper {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: #ffca05;
  display: flex;
  height: 84px;
  vertical-align: center;
  align-items: center;
  width: 81%;
}
.language-logo {
  width: 30px;
  height: 30px;
  margin-right: 155px;
  margin-left: 30px;
}
.nav-ul {
  display: flex;
  align-items: center;
}
.ul-li {
  padding-right: 70px;
  font-size: 16px;
}
.linkable {
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: none;
}
.linkable:hover {
  color: black !important;
  text-decoration: underline;
}
.ul-li a:hover {
  color: black !important;
  text-decoration: underline;
}
.donation {
  margin-right: 14px;
  border-radius: 50px;
  background-color: #ffffff;
  width: 143px;
  height: 42px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.donation a {
  color: #000000;
}
.joinUs {
  border-radius: 50px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 42px;
  font-size: 20px;
}
.joinUs a {
  color: #ffffff;
}
#simple-popper {
  margin-top: 33px !important;
}
#simple-popper--diff {
  margin-top: 33px !important;
}
.organization-poper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 252px;
  max-height: 208px;
}
.organization-poper--first {
  color: #221f1f;
  margin-top: 10px;
  font-size: 16px;
}
.organization-poper--children {
  color: #221f1f;
  font-size: 16px;
}
.organization-poper--last {
  color: #221f1f;
  margin-bottom: 10px;
  font-size: 16px;
}
.organization-popper--diff {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /* width: 252px; */
  max-height: 208px;
}

@media screen and (min-device-width: 1600px) and (max-device-width: 1700px) {
  /* STYLES HERE */
  .navigation-wrapper {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #ffca05;
    display: flex;
    height: 74px;
    vertical-align: center;
    align-items: center;
    width: 85%;
  }
}
