.single-card {
  box-shadow: 0px 3px 31px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 31px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 31px 0px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  border-radius: 25px;
  width: 282px;
  height: 307px;
}
