.news-wrapper {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  width: 100%;
}
.electionContent {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
