.map {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  border-radius: 25px;
  width: 100%;
}
.contact-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.contact-left-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 560px;
}
.heading-wrapper {
  display: flex;
  margin-bottom: 75px;
}
.heading-img {
  margin-right: 30px;
}
.heading-title {
  font-size: 54px;
}
.contact-info-wrapper {
  width: 56%;
  height: 150px;
  margin-bottom: 30px;
}
.contact-info {
  margin-bottom: 25px;
  font-size: 18px;
}
.contact-info--colored {
  color: #ffca05;
  font-size: 18px;
}
.inputs-wrapper {
  margin-bottom: 40px;
}
.text-inputs {
  border: none;
  width: 136px;
  height: 35px;
  background-color: #fafafa;
  border-radius: 18px;
  margin-right: 10px;
}
.email-input {
  border: none;
  width: 242px;
  height: 35px;
  background-color: #fafafa;
  border-radius: 18px;
}
.textarea-input {
  border: none;
  width: 530px;
  height: 76px;
  background-color: #fafafa;
  border-radius: 10px;
  margin-bottom: 40px;
}

@media screen and (min-device-width: 1500px) and (max-device-width: 1700px) {
  .contact-info-wrapper {
    width: 63%;
    height: 150px;
    margin-bottom: 30px;
  }
}
