.Planinfo {
    width: 588px;
    border-radius: 54px;
    height: 95px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    cursor: 'pointer';
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
}
.Planinfo:hover {
    background-color: #FFCA05;
    cursor: pointer;
}
.img {
    width: 28px; 
    height: 34px
}
.Planinfo-text {
    color: #221F1F;
    font-size: 29px;
}