.container-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.topcontent-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 45px;
}
.heading--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.heading-styles {
  font-size: 60px;
  margin-top: 120px;
  margin-right: 11%;
  display: flex;
}
.newsDetailImg {
  max-width: 1000px;
  max-height: 593px;
}
.dateWrapper {
  display: flex;
  align-items: center;
  padding: 5px;
}
.dateSize {
  font-size: 18px;
  padding-left: 5px;
}
.cardContainer {
  margin-right: 27.6%;
  margin-top: 20px;
}
.card-decoration {
  width: 307px;
  height: 42px;
  margin-top: 20px;
  background-color: #ffca05;
  border-radius: 21px;
}
.descriptions {
  width: 63%;
  display: flex;
  justify-content: center;
  font-size: 18;
}
.mappedData {
  margin-bottom: 80px;
}
.footer {
  /* position: absolute;
    bottom: 0;
    width: 100%; */
}
.wrap {
  width: 60%;
}
@media screen and (min-device-width: 1500px) and (max-device-width: 1800px) {
  .heading-styles {
    font-size: 45px;
    margin-top: 120px;
    margin-right: 8%;
    display: flex;
    width: 70%;
  }
  .cardContainer {
    margin-right: 13.7%;
  }
  .wrap {
    width: 65%;
  }
  .descriptions {
    width: 68%;
    display: flex;
    justify-content: center;
    font-size: 18;
  }
  .newsDetailImg {
    width: 1000px;
    max-height: 493px;
  }
  .heading--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
}
