.auth-wrapper {
    width: 100%
}
.header__wrapper {
    height: 245px;
}
.election--wrapper {
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-title-wrapper {
    display: flex;
    padding: 25px;
}
.election--description {
    width: 61.5%;
    margin: 0 auto;
}
.log-in-styles {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FFCA05;
    font-size: 54px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 45px;
}
.entire-form {
    width: 27%;
    margin: 0 auto;
    margin-bottom: 65px;
}
.form--wrapper {
    width: 100%;
}
.input-email {
    width: 100%;
    padding: 15px 0;
    border-radius: 28px;
    border: none;
    background-color: #FAFAFA;
    margin-bottom: 40px;
}
.send-code-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.input-phone {
    width: 50%;
    padding: 15px 90px;
    border: none;
    border-radius: 28px;
    background-color: #FAFAFA;
}
.send-code {
    width: 40%;
    background-color: #221F1f;
    color: #ffffff;
    border-radius: 28px;
    border: none
}
.insert-code-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label-styles {
    width: 50%;
    font-size: 12px;
    color: #A7A7A7;
}
.code-btn {
    width: 40%;
    background-color: #FAFAFA;
    border: none;
    border-radius: 28px;
    padding: 15px 72px;
}
.log-in-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.log-in-btn {
    width: 54%;
    padding: 15px 0;
    border: none;
    border-radius: 28px;
    background: #FFCA05;
    color: #ffffff;
    font-size: 18px;
}