.first-row {
  margin-bottom: 50px;
}
.second-row {
  margin-bottom: 90px;
}
.card-description {
  font-size: 18;
  margin-bottom: 40px;
}
.showMore-wrapper {
  width: 100%;
}
.content--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.news--wrapper {
  display: flex;
  justify-content: center;
  width: 75%;
  margin-top: 230px;
}
.news-search-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.news-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.news--title {
  font-size: 54px;
  font-weight: bold;
}
.search-wrapper {
  position: relative;
  width: 37%;
}
.input-styles {
  width: 100%;
  border-radius: 21px;
  padding: 10px 40px;
  border: none;
  background-color: #ebebeb;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.description-data {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
.absoluteLines-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
  gap: 25px;
}
.card-list--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.footer-div {
  margin-top: 85px;
}
